/*Style!*/
/*#input {
  font-family: 'Pangolin', cursive;
  height: 25px;
  width: 150px;
  text-align: center;
  border: none;
}

#button {
  background-color: tomato;
  border: none;
  height: 27px;
  width: 80px;
  cursor: pointer
}

#button:hover {
  background-color: black;
  color: white;
}
*/
