body {
  background: url('../../public/weather.jpg') no-repeat fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

header h1 {
  color: tomato;
  text-align: center;
  font-family: 'Pangolin', cursive;
}

#center {
  text-align: center;
  margin-top: 10%;
  font-family: 'Pangolin', cursive;
}

/*#app-container {
  background: url('../../public/weather.jpg') no-repeat;
}
*/
