body {
  background: url('../../public/weather.jpg') no-repeat fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

header h1 {
  color: tomato;
  text-align: center;
  font-family: 'Pangolin', cursive;
}

#center {
  text-align: center;
  margin-top: 5%;
  font-family: 'Pangolin', cursive;
}

#highlight {
  background: rgba(0, 0, 0, 0.3);
  padding: 5px 5px;
  margin: 10px 480px;
}
/*#app-container {
  background: url('../../public/weather.jpg') no-repeat;
}
*/
