app-container {
  /*font-family: 'Pangolin', cursive;*/
}

header h1 {
  color: tomato;
  text-align: center;
  font-family: 'Pangolin', cursive;
}

#center {
  text-align: center;
  margin-top: 10%;
  font-family: 'Pangolin', cursive;
}
