#city {
  width: 73%;
  height: 185px;
  margin: 5% 0 0 14%;
  padding-bottom: 15px ;
  border: 1px solid black;
  background-color: #fafafa;
}

.days {
  display: inline-block;
  margin: 0 5px 40px 5px;
}

.days:nth-child(odd) {
  background-color: #FFEFD5;
}

.days:nth-child(even) {
  background-color: #FFDAB9;
}
